.my_header{
  text-align: center;
}

#about{
  text-align: center;
}

#reading{
  text-align: center;
}

#social{
  text-align: justify;
}

#finance{
  text-align: justify;
}
/*.profile_pic{
  border-radius: 50%;
}
.carousel-item {
 height: 500px;
    text-align: center;
}

.item1 {
  background-color:red;
  /*height: 100px;
}

.item2 {
  background-color:yellow;
  /*height: 100px;
}

.item3 {
  background-color:blue;
  /*height: 100px;
}*/
.copyright{

text-align: center;
}
